body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Lato', sans-seriff;
    text-align:center;
}

h1 {
    color: #039;
    font-family: 'Permanent Marker', sans-serif;
    font-size:3em;
    line-height:3%;
}

.hidden {
    display: none;
}

.selected {
    font-weight: bold;
    color: darkblue;
}

a {
    color: black;
    text-decoration:none;
    font-weight:800;
}

a:hover {
    font-weight:800;
    color:#003399;
}

hr {
    border:0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.log-menu {
    background-color:#e5eaf4;
    padding:1%;
    margin:0 auto;
}

.log-menu p {
    margin:0 auto;
    padding-bottom:10px;
}

label {
    padding-left:1%;
}

.find-activities {
    display:inline-block;
    vertical-align:middle;
    padding:2%;
}

#itinerary-div {
    display:none;
}

.data-divs {
    display:inline-block;
    vertical-align:top;
    padding:1%;
    margin:1%;
    background-color:#e5eaf4;
    width:28.33%;
}

.data-divs:hover {
    background-color:#ccd6ea;
}

.star-rating {
    text-align:center;
    margin:0 auto;
}

.stars {
    text-align:center;
    margin:0 auto;
}